.LCK.gitignore~

*.lock
*lock.json
.~lock.*

# NB
/nbproject/

# Eclipse
/.settings
/.buildpath
/.project

/admin/node_modules/
/admin/build/
/admin/shared/

/backend/vendor/
/backend/config.yml
/backend/gender/*
!/backend/gender/index.html

/ci

/tokens.txt
/admin/nbproject/private/